html { box-sizing: border-box; margin:0; padding: 0; } 
*, 
*:before, 
*:after { box-sizing: inherit; }


.imageBodyContainer {
    display: flex;
    flex-wrap: nowrap;
}

.imageContainer {
    display: flex;
    flex-wrap: nowrap;
    
}

nav {
    width: 100%;
    height: 100px;
    background-color: #bfbfbf;
    text-align:center;
}

body {
    background-color: #bfbfbf;
<<<<<<< HEAD
    
}
.scroll-div{

    width:200px;
    height:100px;
    overflow-y:scroll;
    }
=======
}
>>>>>>> f3bba60604113611944d14aaa7f1f4683863033c

h1 {
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    width:100%;
    
}

<<<<<<< HEAD

.title:hover{
    color: #ffffff;
    
}
#emailDiv a{

margin-left: 100%
}

.headerText h1
{
    text-decoration: none;
=======
.headerText h1
{
>>>>>>> f3bba60604113611944d14aaa7f1f4683863033c
    margin-top:0;
    padding-top:0;
    margin-bottom:0;
    padding-bottom:0;
<<<<<<< HEAD


}
 
.headerText h2 {
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;

=======
}
 
.headerText h4 {
    font-family: 'Roboto Condensed', sans-serif;
>>>>>>> f3bba60604113611944d14aaa7f1f4683863033c
    font-size: 16px;
    text-align: center;
    width:100%;

    margin-top:0;
    padding-top:0;
}

<<<<<<< HEAD


.menu li{
   list-style: none;
   display: inline-block;
}

 .menu li a {
=======
.menu li{
   list-style: none;
   display: inline-block;
   font-size: 8px;
}

.menu li a {
>>>>>>> f3bba60604113611944d14aaa7f1f4683863033c
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    color: #000000;
    padding: 0 20px;

}

.menu li a:hover {
    color: #ffffff;
}

<<<<<<< HEAD
.menu .current
=======
.index a.index,
.portfolio a.portfolio,
.cv a.cv,
.contact a.contact 
>>>>>>> f3bba60604113611944d14aaa7f1f4683863033c
{
  color:#002060;
}



.imageBodyContainer p{
    font-family: 'Roboto Condensed', sans-serif;
}

.imageBodyContainer ul{
    font-family: 'Roboto Condensed', sans-serif;
}
#form {
    resize:none;
}

.readmore {
    background-color: transparent;
    border: none;
    color: #002060;
    text-align: right;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    float: right;
}

.polaroidsImg
{
    width:20%; height:20%;
    margin-left: 20%;
}

.containing{

    padding: 0% 10% 10% 10%;    
}

.image_off, #linkedIn:hover .image_on{
    display:none;
 }
 .image_on, #linkedIn:hover .image_off{
    display:block;
 }

 .image_off, #email:hover .image_on{
    display:none;
 }
 .image_on, #email:hover .image_off{
    display:flex;
 }