html { box-sizing: border-box; margin:0; padding: 0; } 
*, 
*:before, 
*:after { box-sizing: inherit; }


.imageBodyContainer {
    display: flex;
    flex-wrap: nowrap;
}

.imageContainer {
    display: flex;
    flex-wrap: nowrap;
    
}

nav {
    width: 100%;
    height: 100px;
    background-color: #bfbfbf;
    text-align:center;
}

body {
    background-color: #bfbfbf;
}

h1 {
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    width:100%;
    
}

.headerText h1
{
    margin-top:0;
    padding-top:0;
    margin-bottom:0;
    padding-bottom:0;
}
 
.headerText h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    text-align: center;
    width:100%;

    margin-top:0;
    padding-top:0;
}

.menu li{
   list-style: none;
   display: inline-block;
   font-size: 8px;
}

.menu li a {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    color: #000000;
    padding: 0 20px;

}

.menu li a:hover {
    color: #ffffff;
}

.index a.index,
.portfolio a.portfolio,
.cv a.cv,
.contact a.contact 
{
  color:#002060;
}



.imageBodyContainer p{
    font-family: 'Roboto Condensed', sans-serif;
}

.imageBodyContainer ul{
    font-family: 'Roboto Condensed', sans-serif;
}
#form {
    resize:none;
}

.readmore {
    background-color: transparent;
    border: none;
    color: #002060;
    text-align: right;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    float: right;
}

.polaroidsImg
{
    width:20%; height:20%;
    margin-left: 20%;
}

.containing{

    padding: 0% 10% 10% 10%;    
}

.image_off, #linkedIn:hover .image_on{
    display:none;
 }
 .image_on, #linkedIn:hover .image_off{
    display:block;
 }

 .image_off, #email:hover .image_on{
    display:none;
 }
 .image_on, #email:hover .image_off{
    display:flex;
 }